
// Colors
$brand-color: #5eaf30;
$text-color: #333;
$background-color: #fff;
$accent-color: #537148;
$accent-light-color: #739c64;
$accent-text-color: #eee;

:root {
    font-family: system-ui, sans-serif;
}

article > section {
    max-inline-size: 40rem;
    padding-inline: 1rem;
    margin-inline: auto;
}

blockquote {
    margin: 0;
    margin-block: 1rem;
    margin-inline-start: 10%;
    padding: 1rem;
    box-shadow: 0 0 .5rem #ccc;
    text-align: end;
    color: $text-color;
    background-color: #eee;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $accent-light-color;
}

h2 {
    padding-inline-start: .5em;
    border-inline-start: solid .25rem $brand-color;
}

.large {
    font-size: 1.5rem;
}

.clear {
    clear: both;
}

.profile-photo-float {
    float: inline-end;
    margin-inline-start: 1rem;
    margin-block-start: .5rem;
    margin-block-end: .5rem;
    border-radius: 50%;
    inline-size: 30%;
    max-inline-size: 10rem;
}

#top-bar {
    display: flex;
    flex-direction: row;
    // box-shadow: 0 0 .5rem #888;
    background-color: $accent-color;
    color: $accent-text-color;
    background-image: linear-gradient(to right, $accent-color, $accent-light-color);
    padding-inline: 1em;
    padding-block: .5em;
}

#top-bar-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: normal;
}

#logotype {
    max-inline-size: 100vi;
    inline-size: 20rem;
}

#logotype-wrapper {
    flex-grow: 1;
}

#top-nav {
    border-block-end: .5em solid $brand-color;
    display: flex;
    flex-wrap: wrap;
    column-gap: .5em;
    flex-direction: row;
    justify-content: flex-end;
}

#top-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#top-nav ul > li {
    border-inline-start: solid 2px $brand-color;
    margin-inline: 2px;
    margin-block: .5em;
}

#top-nav ul > li > a {
    display: block;
    padding-inline: 1em;
    padding-block: .5em;
}

#slogan {
    font-size: 1.25em;
    font-weight: 300;
    padding: 1em;
    padding-block-start: 30%;
    background-color: #000;
    background-image: url("../../assets/img/night-earth.jpg");
    background-position: center start;
    background-size: cover;
    text-align: center;
    color: $accent-text-color;
    text-shadow: $text-color -1px -1px 0, $text-color -1px 1px 0, $text-color 1px -1px 0, $text-color 1px 1px 0, $text-color 0 1px 0, $text-color -1px 0 0, $text-color 1px 0 0, $text-color 0 -1px 0, $text-color 0 0 .25em, $text-color 0 0 .25em, $text-color 0 0 .25em, $text-color 0 0 .25em;
}

#twitter-timeline {
    border: none;
    margin: 0;
    inline-size: 100%;
    block-size: 64rem;
}

.banner-block {
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to bottom, #496a25, #2a6974);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 5vw;
}

.menhera-green {
    background-color: $brand-color;
    color: $accent-text-color;
    padding: 1rem;
    font-size: 150%;
    border-radius: .5rem;
}

#main-footer {
    padding: 1rem;
    font-size: .8rem;
    background-color: $accent-color;
    background-image: linear-gradient(to right, $accent-color, $accent-light-color);
    color: $accent-text-color;
}

#main-footer a {
    color: $accent-text-color !important;
}

#main-footer-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    max-inline-size: 40rem;
    margin-inline: auto;
}

#main-footer-nav > nav {
    max-inline-size: 20rem;
    margin: 1rem;
}

#main-footer-nav > nav > ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.author {
    text-align: end;
    font-size: .8rem;
}
